<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="path">

  <!--  &lt;!&ndash;对象参数和数据库对照，规定类型&ndash;&gt;
    <resultMap id="screenModule" type="com.example.demo.vo.TestVO">
        <id property="id" jdbcType="VARCHAR" column="module_id"/>
        <result property="name" jdbcType="VARCHAR" column="datasource_id"/>
    </resultMap>-->
 <!--   <sql id="bo">
        id,name
    </sql>
    &lt;!&ndash;数据查询&ndash;&gt;
    <select id="query"resultMap="screenModule">
        select <include refid="bo"/> from taable_name
    </select>
    &lt;!&ndash;批量插入&ndash;&gt;
    <insert id="insertElement" parameterType="java.util.List">
    INSERT all (INTO TABLENAME(FIELD1, FIELD2, FIELD3)
    <foreach collection="list" item="item" separator="UNION ALL" >
        SELECT
        #{item.FIELD1},
        #{item.FIELD2},
        #{item.FIELD3}
        FROM DUAL
    </foreach>
    )
    </insert>
-->

<!--    &lt;!&ndash;数据查询&ndash;&gt;-->
<!--    <select id="query"resultMap="screenModule">-->
<!--        select <include refid="bo"/> from taable_name-->
<!--    </select>-->
<!--    &lt;!&ndash;批量插入&ndash;&gt;-->
<!--    <insert id="insertElement" parameterType="java.util.List">-->
<!--    INSERT all (INTO TABLENAME(FIELD1, FIELD2, FIELD3)-->
<!--    <foreach collection="list" item="item" separator="UNION ALL" >-->
<!--        SELECT-->
<!--        #{item.FIELD1},-->
<!--        #{item.FIELD2},-->
<!--        #{item.FIELD3}-->
<!--        FROM DUAL-->
<!--    </foreach>-->
<!--    )-->
<!--    </insert>-->


<!--    &lt;!&ndash;编辑数据&ndash;&gt;-->
<!--    <update id="updateElement" parameterType="java.util.List">-->
<!--        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">-->
<!--            UPDATE TABLENAME-->
<!--            <set>-->
<!--                NUMBERS =#{item.numbers}-->
<!--            </set>-->
<!--            WHERE ID= #{item.id} AND TYPE= #{item.type}-->
<!--        </foreach>-->
<!--    </update>-->

<!--    &lt;!&ndash;删除&ndash;&gt;-->

<!--    <delete id="deleteUnitClass" parameterType="String">-->
<!--        DELETE FROM SYS_UNIT_CLASS WHERE CLASS_CODE IN-->
<!--        <foreach collection="list" item="item" index="no"-->
<!--                 open="(" separator="," close=")">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--    </delete>-->

<!--    &lt;!&ndash;删除旧的分支节点设置数据&ndash;&gt;-->
<!--    <delete id="deleteOldNodeFork" parameterType="java.util.List">-->
<!--        delete from BPM_NODE_FORK-->
<!--        where (DEF_ID_ ,NODE_ID_) in-->
<!--        <foreach item="item" collection="delBos" index="index" separator="," open="(" close=")">-->
<!--            (-->
<!--            #{item.defId,jdbcType=VARCHAR},-->
<!--            #{item.nodeId,jdbcType=VARCHAR}-->
<!--            )-->
<!--        </foreach>-->
<!--    </delete>-->

<!--    &lt;!&ndash;存在性判断&ndash;&gt;-->
<!--    <select id="usedDatasource" resultType="java.lang.Boolean">-->
<!--        select count(1)-->
<!--        from SCREEN_MODULE-->
<!--        where APP_ID = #{appId,jdbcType = VARCHAR}-->
<!--    </select>-->
</mapper>    